*, html{
    font-family: 'Poppins', sans-serif;
}

ion-searchbar{
    width: 934px;
}

ion-list{
    display: flex; 
    float: left;
}

ion-item{    
    width: 450px;
    --background: linear-gradient(150deg, #292a2c 0%, #3f4042 100%);
    border-radius: 25px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 5px 10px 0px 10px;
    cursor: pointer;    
}

.alert{
    margin-left: 20px;
}

.background{
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    background-size: 100% 100%;
    opacity: 0.4;
    background-repeat: no-repeat;
    object-fit: cover;
 }

 ion-button{
     margin: 20px 0px 10px 20px
 }


 @media (max-width: 500px) {
  
    ion-list{
        width: 100%;   
    }

    ion-item{
        width: 100%; 
        margin: 5px 5px 0px 5px;  
    }

    ion-searchbar{
        width: 100%;
    }
 
    
 }





