*, html{
    font-family: 'Poppins', sans-serif;
}

ion-searchbar{
    width: 934px;
}


ion-item{    
    width: 450px;
    --background: linear-gradient(150deg, #292a2c 0%, #3f4042 100%);
    border-radius: 25px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 5px 10px 0px 10px;
    cursor: pointer;
    
}

.background{
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    background-size: 100% 100%;
    opacity: 0.4;
    background-repeat: no-repeat;
    object-fit: cover;
 }
    ::-webkit-scrollbar,
    *::-webkit-scrollbar {
    display: none;
 }



 @media (max-width: 600px) {


    ion-item{
        display: flex;
        flex-direction: column;
      
    }

    ion-searchbar{
        width: 100%;
    }


    
 }





