*, html{
    font-family: 'Poppins', sans-serif;
}



ion-card{
    max-width: 620px;
    padding: 10px 10px 10px 25px;
    margin: 20px 0px 20px 0px;
    border-radius: 0%;
    border-left: 2px  solid #ffc409;
    box-shadow: none !important;
}


.readmore{
    color: #ffc609a2
}


.backdrop {

    height: 100%;
    width: 100%;
    bottom:0;
    top: 0;
    position: fixed;
    background-size: 100% 100%;
    filter: grayscale(100%);
    opacity: 0.25;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
 }

 



 @media (max-width: 600px) {

  ion-card{
    margin: 20px 25px 20px 25px;
    padding: 15px 15px 15px 20px;
    border-radius: 0%;
    border-left: 2px  solid #ffc409;
    box-shadow: none !important;
    }

  
}
