*, html{
    font-family: 'Poppins', sans-serif;
}

ion-card{
    max-width: 620px;
    padding: 10px 10px 10px 25px;
    margin: 20px 0px 20px 0px;
    border-radius: 0%;
    border-left: 2px  solid #ffc409;
}

.readmore{
    color: #ffc609a2
}


.backdrop {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    position: fixed;
    height:100vh; 
    opacity: 0.25;
    filter: grayscale(100%);
 }



 @media (max-width: 600px) {

  ion-card{
    margin: 20px 25px 20px 25px;
    padding: 15px 15px 15px 20px;
    border-radius: 0%;
    border-left: 2px  solid #ffc409;
    }

  
}
